<%if notice %>
    <div class="row">
        <p id="notice"><%= notice %></p>
    </div>
<%end%>
<%if alert %>
    <div class="row">
        <p id="error_explanation"><%= alert %></p>
    </div>
<%end%>
<%= form_for :user, url: sessions_login_path, class: "form" do |f| %>
    <div class="field form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="field form-group">
        <%= f.label :password %><br>
        <%= f.password_field :password, class: "form-control" %>
    </div>
    <div class="actions">
        <%= f.submit 'ログイン', class: "btn btn-primary"  %>
    </div>
<% end %>
